
{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card vca-card">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Director Login</h1>
        <form method="post" class="vca-form">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="email" required autofocus>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required>
          </div>
          <button class="btn btn-primary w-100" type="submit">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
